* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 320px) {
  html {
    font-size: 37%;
  }
}
body {
  background-color: black;
  color: rgb(247, 237, 237);
  width: 100%;
  height: 100%;
  padding-top: 12rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
/* NAV BAR */
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0.5rem;
}
.header_logo {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-bottom: solid 2px rgb(247, 237, 237);
  width: 80%;
}
.header_heading {
  font-size: 4rem;
  color: rgb(253, 236, 236);
}
.image_logo {
  height: 4rem;
  width: 4rem;
}

/* FEATURES CARDS */
.home_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.feature_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.2rem;
}
img {
  height: 25rem;
  width: 20rem;
  border-radius: 3%;
}
.card {
  flex-grow: 1;
  width: 26rem;
  height: 45rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(51, 50, 50, 0.411);
  border: solid 4px black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 20px 25px 5px rgb(0 0 0 / 0.1), 0 8px 10px 6px rgb(0 0 0 / 0.1);
  transition: all 0.5s;
}
.card:hover {
  transform: translateY(-10px);
  border: rgb(173, 172, 172) solid 3px;
}
.description {
  width: 90%;
  text-align: center;
}
h3 {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
  font-weight: 700;
}
.features_paragraph {
  line-height: 1.5;
  font-weight: 400;
}

/* SET UP CONTAINER */
.starting_card {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 25rem;
  text-align: center;
}
.starting_name {
  font-size: 3rem;
}
.starting_paragraph {
  font-weight: 400;
}
.button_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.btn {
  width: 20rem;
  height: 4rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}
.signup_btn.btn {
  background-color: rgb(253, 236, 236);
  border: solid 2px rgb(253, 236, 236);
  transition: all 0.5s;
}
.signup_btn.btn:hover {
  background-color: black;
  border: solid 2px rgb(253, 236, 236);
  color: rgb(253, 236, 236);
  transform: translateY(-2px);
}
.signin_btn.btn {
  background-color: black;
  border: solid 2px rgb(253, 236, 236);
  transition: all 0.5s;
}
.signin_btn.btn:hover {
  background-color: rgb(253, 236, 236);
  border: solid 2px rgb(253, 236, 236);
  color: black;
  transform: translateY(-3px);
}
.signup_button {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.5s;
}
.signup_button:hover {
  color: rgb(253, 236, 236);
}
.signin_button {
  text-decoration: none;
  color: rgb(253, 236, 236);
  font-weight: 600;
  transition: all 0.5s;
}
.signin_button:hover {
  color: black;
}
