* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: rgba(32, 30, 30, 0.726);
  max-height: 100vh;
  /* min-width: 100vw; */
  padding: 1rem;
  padding-top: 5rem;
  font-size: 1.6rem;
  color: rgb(247, 237, 237);
}
.header {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
}
.image_logo {
  height: 5rem;
  width: 5rem;
  border-radius: 10%;
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.header_heading {
  font-size: 2.7rem;
  color: black;
}
.header-nav {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
.header_unordered_list_items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.2rem;
}
.header_nav_button {
  display: inline-block;
  padding: 1rem 2rem;
  border: 2px solid rgb(247, 237, 237);
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}
.header_nav_button:hover {
  background-color: rgb(247, 237, 237);
  color: black;
}
.header_unordered_list_item_link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* PSEUDO CLASS= APPLIED FOR THE PURPOSE OF AN INTERACTION ON A WEBSITE */
.header_unordered_list_item_link:hover {
  color: rgb(247, 237, 237);
}

.page {
  padding: 2rem;
  padding-bottom: 12rem;
}

/* HEADERS */
h2 {
  font-size: 4rem;
  color: rgb(247, 237, 237);
  margin: 2rem 0 1.2rem;
}

/* VIDEO FEED */
.video-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
  gap: 1.4rem;
  padding-bottom: 0.4rem;
}
.video-scroll::-webkit-scrollbar {
  display: none;
}
.video img {
  width: 24.5rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1.4rem;
}

/* BLOG SECTION */
.blog-section {
  display: grid;
  gap: 1.6rem;
  margin-top: 1.5rem;
}
.blog-card {
  background: rgb(247, 237, 237);
  border-radius: 1.6rem;
  padding: 1.5rem;
  border: 3px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 25px 5px rgb(0 0 0 / 0.1), 0 8px 10px 6px rgb(0 0 0 / 0.1);
  transition: all 0.5s;
}
.blog-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: rgba(0, 0, 0, 0) 3px solid;
  transform: translateY(-3px);
}
.blog-card img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}
.blog-card h3 {
  font-size: 1.6rem;
  margin: 0 0 0.6rem;
  color: #111;
}

.blog-card a {
  color: #111;
  font-size: 1.4rem;
  text-decoration: none;
}

/* DESKTOP */
@media (min-width: 600px) {
  .blog-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* LARGE DESKTOP */
@media (min-width: 800px) {
  .blog-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* PILL NAV BAR */
.pill-nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.8rem;
  background: #000;
  padding: 1.2rem 2.6rem;
  border-radius: 99.9rem;
  display: flex;
  gap: 2.8rem;
  align-items: center;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.35);
  z-index: 9999;
}

/* ICONS DEFAULT WHITE */
.pill-nav a {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ICON LOOK */
.pill-nav i svg {
  stroke: #fff !important;
  width: 2.6rem;
  height: 2.6rem;
  opacity: 0.55;
}

/* ACTIVE ICON BOLD */
.pill-nav a.active i svg {
  opacity: 1;
  stroke-width: 2.8;
}
